<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Documentation
      </a>
        <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Genre
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            geners need to implament
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Free to play
          </a>
        </div>
      </div>

    </div>

    <div class="navbar-end">
<div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Sort
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
           Name: A-Z
          </a>
          <a class="navbar-item">
            Name: Z-A
          </a>
          <a class="navbar-item">
           Price: Low-High
          </a>
          <a class="navbar-item">
            Price: High-Low
          </a>
        </div>
      </div>

      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>