<div class="container">
  <div class="notification is-primary">
    <%= paginate @games %>
      <div class="columns is-multiline is-mobile">
        <%= render partial: 'games/game', collection: @games, locals: {show_link: true} %>
      </div>
    <%= paginate @games %>
    </div>
  </div>
</div>
