<div class="container">
  <div class="notification is-primary">
      <div class="columns is-multiline is-mobile">
        <%= render partial: 'games/game', collection: @games_search, locals: {show_link: true} %>
      </div>
    </div>
  </div>
</div>
